<div layout="row" layout-align="start center" >
    <div layout="row" layout-align="start center" flex> 

        <div class="logo" layout="row" layout-align="start center">
            <span class="logo-image-login">TS</span>
            <span class="login-logo-text">TradeSync</span>
        </div>       
        
        <div class="toolbar-separator"></div>

        <md-progress-circular id="toolbar-progress" ng-disabled="!$root.loadingProgress"  class="md-accent" md-diameter="32">
        </md-progress-circular>

        
    </div>

    <div layout="row" layout-align="start center">
        
        
    </div>
</div>