<div class="radioButtondemoBasicUsage" ng-app="app.tested">
    <form ng-submit="submit()"  ng-controller="testController as di" ng-cloak="" layout-align="space-between center">
                <div >
                            
                            <p>Selected Value: <span >{{di.data.group1 }}</span> </p>

                            <md-radio-group ng-model="di.data.group1">

                            <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
                            <md-radio-button value="Banana"> Banana </md-radio-button>
                            <md-radio-button value="Mango">Mango</md-radio-button>

                            </md-radio-group>

                            <hr />

                            <div >
                            
                            <p>Selected Value: <span>{{di.effectSelected.selected }}</span> </p>

                            <md-radio-group ng-model="di.effectSelected.selected" class="effect-radio-group">
                            <md-radio-button class="effect-btn" ng-repeat="effect in di.effects" ng-value="effect.value">{{effect.name}}</md-radio-button>
                            </md-radio-group>

                            <md-button ng-click="di.checkSelection()" type="button">Evaluate</md-button>
                            
                            
                            </div>
                            <hr />


                            <p>Selected Value: <span >{{ di.data.group2 }}</span></p>

                            <md-radio-group ng-model="di.data.group2" class="md-primary">

                                <md-radio-button ng-repeat="d in di.radioData"
                                                ng-value="d.value"
                                                ng-disabled=" d.isDisabled "
                                                ng-class="{'md-align-top-left': $index==1}" >
                                    {{ d.label }}<br/>
                                <span class="ipsum"
                                        ng-if="$index == 1">
                                    Duisy placerat lectus et justo mollis, nec sodales orci congue. Vestibulum semper non urna ac suscipit.
                                    Vestibulum tempor, ligula id laoreet hendrerit, massa augue iaculis magna,
                                    sit amet dapibus tortor ligula non nibh.
                                </span>

                                </md-radio-button>

                            </md-radio-group>

                           

                            <hr />
                        </div>
    </form>
</div>